</main> <footer class="footer mt-auto py-3 bg-white shadow-sm border-top">
    <div class="container text-center">
        <span class="text-muted">Desenvolvido por:</span>
        <br>
        <strong>Leonardo Gurgel</strong> • <strong>Yorran Barroso</strong>
        <p class="mb-0 mt-2 small text-secondary">
            &copy; Gerenciador de Tarefas - Projeto do curso da disciplina de Programação Web do Terceiro semestre do curso de Ads da Faculdade CDL.
        </p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>